<mat-toolbar class="mat-elevation-z8">
    <button mat-icon-button *ngIf="sidenav.mode === 'over'" (click)="sidenav.toggle()">
        <mat-icon *ngIf="!sidenav.opened"> menu </mat-icon>
        <mat-icon *ngIf="sidenav.opened"> close </mat-icon>
    </button>
    Sistema de agendamento de consultas    
</mat-toolbar>

<mat-sidenav-container>
    <mat-sidenav #sidenav="matSidenav" class="mat-elevation-z8">   
        <button routerLink="/apps/consultas" *ngIf="viewConsultas" mat-button class="menu-button" >
            <mat-icon>receipt</mat-icon>
            <span >Consultas</span>
        </button>
        <button routerLink="/apps/usuarios" *ngIf="viewUsuarios" mat-button class="menu-button" >
            <mat-icon>person</mat-icon>
            <span>Usuários</span>
        </button>
        <mat-divider></mat-divider>
        <button (click)="sair()" mat-button class="menu-button">
            <mat-icon>exit_to_app</mat-icon>
            <span>Sair</span>
        </button>        
    </mat-sidenav>
    <mat-sidenav-content style="background-color: #f1f2f7;">
        <div class="content">
            <router-outlet></router-outlet>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>