<!-- datetime-picker.component.html -->

<form [formGroup]="datetimeForm" (change)="onDateTimeSelected()">
  <mat-form-field>
    <input matInput
           placeholder="Escolha a data"
           [matDatepicker]="picker"
           formControlName="date">
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Hora:</mat-label>
    <mat-select formControlName="hour">
      <mat-option *ngFor="let hour of hours" [value]="hour">{{ hour }}</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Minuto:</mat-label>
    <mat-select formControlName="minute">
      <mat-option *ngFor="let minute of minutes" [value]="minute"
      [attr.disabled]="isDateTimeDisabled(datetimeForm.get('date').value, datetimeForm.get('hour').value, minute) ? 'true' : null"
      >{{ minute }}</mat-option>
    </mat-select>
  </mat-form-field>

  <button mat-raised-button color="primary" (click)="onDateTimeSelected()">Selecionar Data e Hora</button>
</form>
